       <section class="education section" id="education">
              <span class="section_subtitle">Qualification</span>
              <h2 class="section_title">My Education</h2>
              
              <div class="education_container bd-grid">

                <div class="education_content">
                  <div class="education_data">
                    <h3 class="education_year">2014-2018</h3>
                    <span class="education_university">IILM COllege of Enginnering and technology</span>
                  </div>
                  <div class="education_time">
                    <span class="education_rounder"></span>
                    <span class="education_line"></span>
                  </div>
                  <div class="education_time">
                    <span class="education_race">Bachelor of Technology</span>
                    <span class="education_speciality">Computer Science and Engineering</span>
                  </div>
                </div>

                <div class="education_content">  
                  <div class="education_data">
                    <h3 class="education_year">2012-2014</h3>
                    <span class="education_university">Narayana Junior College</span>
                  </div>
                  <div class="education_time">
                    <span class="education_rounder"></span>
                    <span class="education_line"></span>
                  </div>
                  <div class="education_time">
                    <span class="education_race">Intermediate</span>
                    <span class="education_speciality">Maths Physics Chemistry</span>
                  </div>
                </div>

                <div class="education_content">  
                  <div class="education_data">
                    <h3 class="education_year">2011-2012</h3>
                    <span class="education_university">Kendriya Vidyalaya Tirumalagiri</span>
                  </div>
                  <div class="education_time">
                    <span class="education_rounder"></span>
                    <span class="education_line"></span>
                  </div>
                  <div class="education_time">
                    <span class="education_race">High School</span>
                    <span class="education_speciality">Maths</span>
                  </div>
                </div>
                
  
              </div>

            </section>