   <section class="services section" id="services">
              <span class="section_subtitle">What I offer</span>
              <h2 class="section_title">My Services</h2>

              <div class="services_container bd-grid">
                <div class="services_content">
                  <i class='bx bx-code services_icon'></i>
                  <h3 class="services_title">Web Design</h3>
                  <p class="services_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, non! Sed impedit obcaecati minima labore nesciunt, assumenda, sunt odio neque aperiam molestias hic odit ab provident culpa alias repellat necessitatibus!</p>
                </div>

                <div class="services_content">
                  <i class='bx bx-pen services_icon'></i>
                  <h3 class="services_title">Graphic Design</h3>
                  <p class="services_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, non! Sed impedit obcaecati minima labore nesciunt, assumenda, sunt odio neque aperiam molestias hic odit ab provident culpa alias repellat necessitatibus!</p>
                </div>

                <div class="services_content">
                  <i class='bx bx-brush sevices_icon'></i>
                  <h3 class="services_title">UI/UX</h3>
                  <p class="services_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, non! Sed impedit obcaecati minima labore nesciunt, assumenda, sunt odio neque aperiam molestias hic odit ab provident culpa alias repellat necessitatibus!</p>
                </div>

                <div class="services_content">
                  <i class='bx bx-server services_icon'></i>
                  <h3 class="services_title">Backend Development</h3>
                  <p class="services_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, non! Sed impedit obcaecati minima labore nesciunt, assumenda, sunt odio neque aperiam molestias hic odit ab provident culpa alias repellat necessitatibus!</p>
                </div>

                <div class="services_content">
                  <i class='bx bx-pencil services_icon'></i>
                  <h3 class="services_title">Content Writing</h3>
                  <p class="services_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, non! Sed impedit obcaecati minima labore nesciunt, assumenda, sunt odio neque aperiam molestias hic odit ab provident culpa alias repellat necessitatibus!</p>
                </div>

              </div>
            </section>