
      <section class="footer" id="footer">
        <div class="footer_container bd-grid">
          <!-- <h1 class="footer_title">Poonam</h1> -->
          <!-- <p class="footer_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolore, sequi neque odio vitae possimus et deleniti aperiam iste maiores ex eveniet, harum doloribus quis corporis quam tempore ratione tempora.</p>
           -->
          <div class="footer_social">
            <a href="https://www.linkedin.com/in/poonam-shukla-00b56512a/" class="footer_link" style="color: white;"><i class='bx bxl-linkedin'></i></a>
            <a href="https://github.com/poonam197shukla"  class="footer_link" style="color: white;"><i class='bx bxl-github'></i></a>
            <a href="https://mail.google.com/mail/u/0/#inbox?compose=new" class="footer_link" style="color: white;"><i class='bx bxl-gmail'></i></a>
          </div>

          <p class="footer_copy">2024. Poonam Shukla. All Rights Reserved</p>
        
        </div>
      </section>