<main class="l-main">
  <section class="home" id="home">
    <div class="home_container bd-grid">
      <div class="home_data">
        <div class="home_img">
          <img src="../assets/img/black_poonam.png">
        </div>
        <h1 class="home_title">Poonam Shukla</h1>
        <span class="home_profession">Frontend Developer / Marathon Runner</span>
        <div class="home_social">
          <a href="https://www.linkedin.com/in/poonam-shukla-00b56512a/" class="home_social_link" style="color: white;"> <i class='bx bxl-linkedin' ></i></a>
          <a href="https://github.com/poonam197shukla" class="home_social_link" style="color: white;"> <i class='bx bxl-github'></i></a>
          <a href="https://www.instagram.com/madmoazela?igsh=M3h5bXE3cmE5b2Q=" class="home_social_link" style="color: white;"><i class='bx bxl-instagram' ></i></a>
          <a href="#" class="home_social_link" style="color: white;"><i class='bx bxl-twitter'></i></a>
          <a href="https://mail.google.com/mail/u/0/#inbox?compose=new" class="home_social_link" style="color: white;"><i class='bx bxl-gmail'></i></a>
        </div>
        
        <a download="" class="button home_button" (click)="downloadFile()">Download Resume</a>
      </div>
    </div>
  </section>
  
</main>
