<section class="about section" id="about">
              <span class="section_subtitle">My Intro</span>
              <h2 class="section_title">About Me</h2>

              <div class="about_container bd-grid">
                <div class="about_data">
                  <p class="about_description">Welcome to my portfolio! I am a web application developer with a deep passion in JavaScript, Angular, and everything related to web development.
                    <br>
                    From elegant algorithms to scenic trails, each piece reflects my dedication, perseverance, and commitment to excellence.
                    <br>
                    When I am not at my computer i like to spend time reading, keeping fit and clicking photographs.</p>
                    <img src="../assets/img/about_Poonam.jpg" alt="" class="about_img">
                </div>

                <div>
                  <div class="about_information">
                    <h3 class="about_information_title">Information</h3>
  
                    <div class="about_information_data">
                      <i class='bx bx-phone about_information_icon'></i>
                      <span>(+91) 9990836998</span>
                    </div>
  
                    <div class="about_information_data">
                      <i class='bx bx-envelope about_information_icon'></i>
                      <span>poonam197shukla@gmail.com</span>
                    </div>
  
                  </div>
  
                  <div class="about_information">
                    <h3 class="about_information_title">Experience and Support</h3>
  
                    <div class="about_information_data">
                      <i class='bx bx-medal about_information_icon'></i>
                      <div>
                        <span class="about_information_subtitle">5+ Years Job</span>
                        <span class="about_information_subtitle_small">Experience</span>
                      </div>
                    </div>
  
                    <div class="about_information_data">
                      <i class='bx bx-briefcase about_information_icon'></i>
                      <div>
                        <span class="about_information_subtitle">10+ Projects</span>
                        <span class="about_information_subtitle_small">Completed</span>
                      </div>
                    </div>
  
                    <div class="about_information_data">
                      <i class='bx bx-support about_information_icon'></i>
                      <div>
                        <span class="about_information_subtitle">Support</span>
                        <span class="about_information_subtitle_small">Online 24/7</span>
                      </div>
                    </div>
                  </div>
                </div>

                
              </div>
            </section>
