  <section class="project section" id="project">
              <div class="project_container bd-grid">
                <div class="project_data">
                    <h3 class="section_title project_title">Do you have a project in mind</h3>
                    <p class="project_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, impedit nostrum? Cupiditate veniam deleniti quos dolorum, maiores animi ipsa, id tenetur autem at eum saepe aut deserunt laudantium omnis sunt.</p>
                    <a href="#contact" class="button button_light">Contact Me</a>
                </div>

                <img src="../assets/img/projectmind.png" alt="" class="project_img">
              </div>
            </section>