 <section class="contact section"  id="contact">
            <span class="section_subtitle">Contact Me</span>
              <h2 class="section_title">Get in touch</h2>

              <!-- <p>Have a question or want to work together? Leave you detailsa nd i'll get back to you as soon as possible.</p> -->

              <div class="contact_container bd-grid">
                <form action="" class="contact_form">
                  <div class="contact_inputs">
                    <input type="text" placeholder="Name" class="contact_input">
                    <input type="email" placeholder="Email" class="contact_input">
                  </div>

                  <input type="text" placeholder="Project" class="contact_input">
                  <textarea name="" id="" rows="10" cols="0" placeholder="Message" class="contact_input"></textarea>
                  <input type="submit" value="Send Message" class="button contact_button">
                  
                </form>
                <div>
                  <div class="contact_info">
                    <h3 class="contact_subtitle">Call Me</h3>
                    <span class="contact_text">(+91) 9990836998</span>
                  </div>

                  <div class="contact_info">
                    <h3 class="contact_subtitle">Email</h3>
                    <span class="contact_text">poonam197shukla@gmail.com</span>
                  </div>

                  <div class="contact_info">
                    <h3 class="contact_subtitle">Location</h3>
                    <span class="contact_text">India</span>
                  </div>
                </div>
              </div>
          </section>
