.contact_container {
    row-gap: 2rem;
}

.contact_input {
    width: 100%;
    padding: 1rem;
    outline: none;
    border: none;
    background-color: var(--first-color-light);
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-2);
    border-radius: .5rem;
}

.contact::placeholder {
    color: var(--first-color-dark);
    font-family: var(--body-font);
    font-weight: var(--font-medium);
}

.contact_button {
    outline: none;
    border: none;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    cursor: pointer;
}

.contact_info {
    margin-bottom: var(--mb-3);
}

.contact_subtitle {
    font-size: var(--h3-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-1);
}

.contact_text {
    display: block;
    padding-left: 1rem;
}

@media screen and (min-width:768px){

    /* .contact_container, .contact_inputs {
        grid-template-columns: repeat(2, 1fr);
    } */

    .contact_inputs {
        display: grid;
        column-gap: 1.5rem;
    }

    .contact_info{
        padding-left: 3rem;
    }


}

