.root {
    scroll-behavior:smooth;

    --header-height: 3rem;
    --nav-width: 324px;

    /* 
  font weight */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* colours */
    --first-color: #CC4B2C;
    --first-color-dark: #662616;
    --first-color-darken: #290F09;
    --text-color: #54423D;
    --first-color-light: #EAE7E6;
    --first-color-lighter: #FFFAFA;


    /* font and topography */
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* margins */
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;

    /*===== z index =====*/
    --z-fixed: 100;

    @media screen and (min-width: 768px) {
        :root {
            --h1-font-size: 2.5rem;
            --h2-font-size: 1.5rem;
            --h3-font-size: 1.25rem;
            --normal-font-size: .1rem;
            --small-font-size: .875rem;
            --smaller-font-size: .813rem;
        }
    }

    /*===== BASE =====*/
    *,
    ::before,
    ::after {
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        margin: var(--header-height) 0 0 0;
        font-family: var(--body-font);
        font-size: var(--normal-font-size);
        font-weight: var(--font-medium);
        background-color: var(--first-color-lighter);
        color: var(--text-color);
        line-height: 1.6;
    }

    h1,
    h2,
    h3,
    p {
        margin: 0;
    }

    h3 {
        font-weight: var(--font-semi-bold);
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

    }


    a {
        text-decoration: none;
        color: var(--text-color);
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
    }

    /*===== CLASS CSS ===== */
    .section {
        padding: 4rem 0 2rem;
        margin-top: 5%;
    }

    .section_title {
        font-size: var(--h1-font-size);
        color: var(--first-color);
        margin-bottom: var(--mb-3);
        text-align: center;
    }

    .section_subtitle {
        display: block;
        font-size: var(--small-font-size);
        color: var(--first-color-darken);
        text-align: center;
        font-weight: var(--font-bold);
        margin-bottom: .25rem;
    }

    /*===== LAYOUT =====*/
    .bd-grid {
        max-width: 1024px;
        display: grid;
        grid-template-columns: 100%;
        column-gap: 2rem;
        width: calc(100%-2rem);
        margin-left: var(--mb-2);
        margin-right: var(--mb-2);
    }

    /* .l-header {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: var(--z-fixed);
        background-color: var(--first-color-lighter);
        box-shadow: 0 2px 4px rgb(0, 0, 0, .1);
    } */

    /*===== NAV =====*/
    
    /*=== Home ===*/
   

    /*BUTTONS*/
    .button{
        display: blocks;
        background-color: var(--first-color);
        color: var(--first-color-lighter);
        padding: 1rem 4rem;
        font-weight: var(--font-semi-bold);
        border-radius: .5rem;
        transition: .3s;
    }

    .button:hover{
        background-color: var(--first-color-dark);
    }

    .button_light{
        background-color: var(--first-color-lighter);
        color: var(--first-color);
    }

    .button_light:hover{
        color: var(--first-color-lighter);
    }

    /* ===== ABOUT =====*/
   

    /* ===== SKILLS =====*/


    /* ===== EDUCATION =====*/
   
    /* ===== SERVICES =====*/
    

    /* ===== PROJECT IN MIND  =====*/

   

    /* ===== WORKS =====*/
    

    /* ===== CONTACT =====*/
  
    /* ===== FOOTER =====*/
 

    /* ===== MEDIA QUERIES=====*/
    @media screen and (min-width:768px){

       .contact_container, .contact_inputs, .skills_container, .work-exp-container {
            grid-template-columns: repeat(2, 1fr);
        }

    }

    @media screen  and (min-width: 1024px){
        body {
            margin: 0;
            padding-left: var(--nav-width);
        }

        .section {
            padding: 3rem 0 2rem;
        }

        .bd-grid {
            margin-left: auto;
            margin-right: auto;
        }

    }

}