        <!--===== HEADER =====-->
  <div class="root">  
          <app-header></app-header>
          <!--===== HOME =====-->
          <router-outlet></router-outlet>
          <app-footer></app-footer>

          <!--===== ABOUT =====-->
            

          <!--===== SKILLS =====-->
         
          <!--===== EDUCATION =====-->
     

          <!--===== SERVICES =====-->
         
          <!--===== PROJECT IN MIND =====-->
          

          <!--===== WORKS =====-->
           

          <!--===== CONTACT =====-->
         
          

      <!--===== FOOTER =====-->

</div>