<section class="work-exp section" id="work-exp">
    <span class="section_subtitle">Where i have worked</span>
    <h2 class="section_title">My experiences</h2>

    <div class="work-exp-container bd-grid">
        <div class="work-exp-content">
            <div class="card">
                <div class="card-content">
                    <div class="card-basic-data">
                        <h2 class="company">Siemens <span class="location"><svg xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24" width="18" height="18">
                                    <path fill="red"
                                        d="M12 2C8.13 2 5 5.13 5 9c0 4.78 7 13 7 13s7-8.22 7-13c0-3.87-3.13-7-7-7zm0 10.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z" />
                                </svg>
                                Pune
                            </span></h2>
                        <div>
                            <span class="designation">Software Developer</span>
                            <span class="experience-year">Mar 2022 - Present</span>
                        </div>
                    </div>

                    <div class="experience-skills">
                        <ul class="mt-2" style="display: flex; justify-content: space-evenly; padding-bottom: 4px;"
                            aria-label="Technologies used">
                            <li class="mr-1.5 mt-2">
                                <div class="chip px-3 py-1">JavaScript</div>
                            </li>
                            <li class="mr-1.5 mt-2">
                                <div class="chip px-3 py-1">TypeScript</div>
                            </li>
                            <li class="mr-1.5 mt-2">
                                <div class="chip px-3 py-1">Angular</div>
                            </li>
                            <li class="mr-1.5 mt-2">
                                <div class="chip px-3 py-1">Npm</div>
                            </li>
                            <li class="mr-1.5 mt-2">
                                <div class="chip px-3 py-1">Yarn</div>
                            </li>
                          
                        </ul>

                        <ul class="mt-2" style="display: flex; justify-content: space-evenly;"
                            aria-label="Technologies used">
                            <li class="mr-1.5 mt-2">
                                <div class="chip px-3 py-1">CSharp</div>
                            </li>
                            <li class="mr-1.5 mt-2">
                                <div class="chip px-3 py-1">DotNet</div>
                            </li>
                            <li class="mr-1.5 mt-2">
                                <div class="chip px-3 py-1">Node</div>
                            </li>
                            <li class="mr-1.5 mt-2">
                                <div class="chip px-3 py-1">RESTApi</div>
                            </li>
                            <li class="mr-1.5 mt-2">
                                <div class="chip px-3 py-1">Jasmine</div>
                            </li>
                            <li class="mr-1.5 mt-2">
                                <div class="chip px-3 py-1">Karma</div>
                            </li>
                        </ul>
                    </div>

                    <div class="experience-info">
                        <p>Smart Buildings Product used by automated buildings (Airports, Labs, Luxury Properties) for
                            inventory management,
                            security monitoring, and risk assessment.</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="work-exp-content">
            <div class="card">
                <div class="card-content">

                    <div class="card-basic-data">
                        <h2 class="company">Infosys<span class="location"><svg xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24" width="18" height="18">
                                    <path fill="red"
                                        d="M12 2C8.13 2 5 5.13 5 9c0 4.78 7 13 7 13s7-8.22 7-13c0-3.87-3.13-7-7-7zm0 10.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z" />
                                </svg>
                                Banglore
                            </span></h2>
                        <div>
                            <span class="designation">Senior System Engineer</span>
                            <span class="experience-year">Feb 2019 - Feb 2022</span>
                        </div>
                    </div>

                    <div class="experience-skills">
                        <ul class="mt-2" style="display: flex; justify-content: space-evenly; padding-bottom: 4px;"
                            aria-label="Technologies used">
                            <li class="mr-1.5 mt-2">
                                <div class="chip px-3 py-1">JavaScript</div>
                            </li>
                            <li class="mr-1.5 mt-2">
                                <div class="chip px-3 py-1">TypeScript</div>
                            </li>
                            <li class="mr-1.5 mt-2">
                                <div class="chip px-3 py-1">Angular</div>
                            </li>
                            <li class="mr-1.5 mt-2">
                                <div class="chip px-3 py-1">Selenium</div>
                            </li>
                        </ul>

                        <ul class="mt-2" style="display: flex; justify-content: space-evenly;"
                            aria-label="Technologies used">
                            <li class="mr-1.5 mt-2">
                                <div class="chip px-3 py-1">Python</div>
                            </li>
                            <li class="mr-1.5 mt-2">
                                <div class="chip px-3 py-1">Apollo (CISCO)</div>
                            </li>
                            <li class="mr-1.5 mt-2">
                                <div class="chip px-3 py-1">Selenium</div>
                            </li>
                            <li class="mr-1.5 mt-2">
                                <div class="chip px-3 py-1">HTML/CSS</div>
                            </li>
                        </ul>
                    </div>

                    <div class="experience-info">
                        <p>
                            Income tax e-filing portal, aims to provide a single window access to income tax related services for
                            taxpayers and other stakeholders.</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="work-exp-content">
            <div class="card">
                <div class="card-content">

                    <div class="card-basic-data">
                        <h2 class="company">TSSC<span class="location"><svg xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24" width="18" height="18">
                                    <path fill="red"
                                        d="M12 2C8.13 2 5 5.13 5 9c0 4.78 7 13 7 13s7-8.22 7-13c0-3.87-3.13-7-7-7zm0 10.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z" />
                                </svg>
                                Gurugram
                            </span></h2>
                        <div>
                            <span class="designation">Consultant</span>
                            <span class="experience-year">Feb 2018 - Feb 2019</span>
                        </div>
                    </div>

                    <div class="experience-skills">
                        <ul class="mt-2" style="display: flex; justify-content: space-evenly;"
                            aria-label="Technologies used">
                            <li class="mr-1.5 mt-2">
                                <div class="chip px-3 py-1">Document Analysis</div>
                            </li>
                            <li class="mr-1.5 mt-2">
                                <div class="chip px-3 py-1">Technical Writing</div>
                            </li>
                            <!-- <li class="mr-1.5 mt-2">
                                <div class="chip px-3 py-1">Quality pack</div>
                            </li> -->
                        </ul>
                    </div>

                    <div class="experience-info">
                        <p>
                            Collaborated with various ministries, skilling bodies, 
                            and technical institutes to promote skills among young Indian talent and bridge the industry's manpower demand-supply gap.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="work-exp-content">
            <div class="card">
                <div class="card-content">

                    <div class="card-basic-data">
                        <h2 class="company">DRDO <span class="location"><svg xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24" width="18" height="18">
                                    <path fill="red"
                                        d="M12 2C8.13 2 5 5.13 5 9c0 4.78 7 13 7 13s7-8.22 7-13c0-3.87-3.13-7-7-7zm0 10.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z" />
                                </svg>
                                Delhi
                            </span></h2>
                        <div>
                            <span class="designation">Intern</span>
                            <span class="experience-year">May 2017 - July 2017</span>
                        </div>

                    </div>

                    <div class="experience-skills">
                        <ul class="mt-2" style="display: flex; justify-content: space-evenly;"
                            aria-label="Technologies used">
                            <li class="mr-1.5 mt-2">
                                <div class="chip px-3 py-1">Research</div>
                            </li>
                            <li class="mr-1.5 mt-2">
                                <div class="chip px-3 py-1">MATLAB</div>
                            </li>
                            <li class="mr-1.5 mt-2">
                                <div class="chip px-3 py-1">Skin Cancer Detection</div>
                            </li>
                        </ul>
                    </div>

                    <div class="experience-info">
                        <p>
                            System analyzes skin lesion images using advanced image processing techniques to detect skin cancer. 
                            It evaluates melanoma features such as asymmetry, contour, color, and diameter (ABCD).</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>