<section class="works section" id="works">
  <span class="section_subtitle">My Work Experince</span>
  <h2 class="section_title">Recent Works</h2>

  <div class="works_container bd-grid">
    <div class="works_img">
      <img src="../assets//img/work1.jpg" alt="">
      <div class="works_data">
        <a href="#" class="works_link"><i class='bx bx-link-alt'></i></a>
        <span class="works_title">Work1</span>
      </div>
    </div>

    <div class="works_img">
      <img src="../assets//img/work2.jpg" alt="">
      <div class="works_data">
        <a href="#" class="works_link"><i class='bx bx-link-alt'></i></a>
        <span class="works_title">Work2</span>
      </div>
    </div>

    <div class="works_img">
      <img src="../assets//img/work3.jpg" alt="">
      <div class="works_data">
        <a href="#" class="works_link"><i class='bx bx-link-alt'></i></a>
        <span class="works_title">Work3</span>
      </div>
    </div>

    <div class="works_img">
      <img src="../assets//img/work4.jpg" alt="">
      <div class="works_data">
        <a href="#" class="works_link"><i class='bx bx-link-alt'></i></a>
        <span class="works_title">Work4</span>
      </div>
    </div>

    <div class="works_img">
      <img src="../assets//img/work5.jpg" alt="">
      <div class="works_data">
        <a href="#" class="works_link"><i class='bx bx-link-alt'></i></a>
        <span class="works_title">Work5</span>
      </div>
    </div>

  </div>
</section>